
.octocat > a > img {
  border: 1px solid grey;
  height: 420px;
  margin: 10px;
  width: 420px;
  float: left;
  display: inline-block;


}
.octocat {
  float:left;
  font-weight: bold;
  padding: 0;
  display: inline-block;
}

.authors > li > a > img {
height: 20px;
width: 20px;
margin: 10px;
padding: 0;
float: right;
display: inline-block;


}
after::.authors{
  padding: 0;
  display: inline-block;
  float: right;

}
ul{
  padding: 0;
  display: inline-block;
  position: absolute;




}
li {
  list-style: none;
}

.image-caption {
  float: right;
  display: inline-block;
  position: relative;
  padding: 0;
  /*border: 1px solid red;*/
  /*position: absolute;*/




}


.authors {
  display: inline-block;
  padding:0;
  /*border: 1px solid red;*/
  clear: right;




}

.image-footer {
  border-bottom: 1px solid grey;
  margin-left:5px;
  margin-right:5px;
  margin-bottom: 5px;
  padding: 0;
}

a {
text-decoration: none;
padding: 0;
}
div{
  padding: 0
}
